<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>

		<!-- custom css -->
		<link rel="stylesheet" href="/assets/css/style.css" />

		<title>RPoll | Submit Vote</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header class="container-fluid p-0 m-0">
			<div class="container-fluid text-center poll-result-header p-3">
				<h1 class="main-title py-3">Submit your Vote</h1>
			</div>
		</header>

		<div class="container page-wrapper my-5 p-4" id="create-poll">
			<h1 class="result-question">Which is the best IPL team ?</h1>
			<div class="row">
				<div class="col-lg-8">
					<div class="vote-container py-4">
						<div class="vote-option p-4 my-2">
							<input
								class="form-check-input"
								type="radio"
								name="vote-option"
								id="vote-option-1"
							/>
							<label class="form-check-label" for="vote-option-1">
								Chennai Super Kings
							</label>
						</div>
						<div class="vote-option p-4 my-2">
							<input
								class="form-check-input"
								type="radio"
								name="vote-option"
								id="vote-option-2"
							/>
							<label class="form-check-label" for="vote-option-2">
								Chennai Super Kings
							</label>
						</div>
						<div class="vote-option p-4 my-2">
							<input
								class="form-check-input"
								type="radio"
								name="vote-option"
								id="vote-option-3"
							/>
							<label class="form-check-label" for="vote-option-3">
								Chennai Super Kings
							</label>
						</div>
						<div class="vote-option p-4 my-2">
							<input
								class="form-check-input"
								type="radio"
								name="vote-option"
								id="vote-option-4"
							/>
							<label class="form-check-label" for="vote-option-4">
								Chennai Super Kings
							</label>
						</div>
						<div class="vote-option p-4 my-2">
							<input
								class="form-check-input"
								type="radio"
								name="vote-option"
								id="vote-option-5"
							/>
							<label class="form-check-label" for="vote-option-5">
								Chennai Super Kings
							</label>
						</div>
					</div>
					<div class="submit-vote-btn btn p-3 my-2">Submit your Vote</div>
				</div>
				<div class="col-lg-4 my-5">
					<div class="btn vote-btn p-3">See Result</div>
					<div class="share-wrapper p-3 my-3">
						<div class="share my-3">
							<div class="share-subtitle py-2">Share Poll</div>
							<div class="sharing-links">
								<a href="#">
									<div class="share-link my-2">
										<i class="bi bi-share-fill px-2 share-icons"></i> Share Link
									</div>
								</a>
								<a href="#">
									<div class="share-whatsapp my-2">
										<i class="bi bi-whatsapp px-2 share-icons"></i> Share on
										Whatsapp
									</div>
								</a>
								<a href="#">
									<div class="share-facebook my-2">
										<i class="bi bi-facebook px-2 share-icons"></i> Share on
										Facebook
									</div>
								</a>
								<a href="#">
									<div class="share-twitter my-2">
										<i class="bi bi-twitter px-2 share-icons"></i> Share on
										Twitter
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="container-fluid m-0 main-footer text-center p-3">
			<a href="https://github.com/rg-rupeee">
				<img
					src="/assets/icons/github.svg"
					alt=""
					height="30px"
					width="30px"
					class="github-icon"
				/>
			</a>
			<div class="footer-title pt-4 pb-0 fs-6">
				This project is made by <b> Rupesh Garhwal </b>
			</div>
			<div class="footer-subtitle p-0 fs-6">
				checkout the source code
				<a href="https://github.com/rg-rupeee/rpoll" class="github-project"
					>here</a
				>
			</div>
		</footer>

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
		/>
	</body>
</html>
