:root {
  --primary: #202020;
  --secondary: #ffdf6c;
  --tertiary: #3f3f3f;
  --quaternary: #707070;
  --white: #ffffff;
  --whiteSec: #fafafa;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--quaternary);
}

::selection {
  color: var(--white);
  background: var(--quaternary);
}

body {
  background-color: var(--whiteSec);
  font-family: "Poppins", sans-serif;
}

.main-header {
  background-color: var(--primary);
  padding-top: 12vh;
  box-shadow: 3px 3px 5px var(--quaternary);
  color: var(--white);
  padding-bottom: 8vh;
}

.main-title {
  font-weight: 800;
  color: var(--white);
}

.main-btn {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--secondary);
  font-weight: 600;
}

.main-btn:hover {
  border: 1px solid var(--quaternary);
  color: var(--quaternary);
}

.main-subtitle {
  color: var(--quaternary);
}

.form-heading{
  font-weight: 700;
}

.form-subtitle{
  color: var(--quaternary);
}

.form-label{
  color: var(--quaternary);
  font-weight: 500;
}

.main-footer {
  background-color: var(--quaternary);
}

.github-icon {
  border-radius: 50%;
}

.github-icon:hover {
  background-color: var(--secondary);
}

.github-project {
  color: var(--tertiary);
}

.result-question{
  color: var(--quaternary);
  font-weight: 500;
  font-size: 32px;
}

.answer-options{
  color: var(--quaternary);
  font-weight: 500;
  font-size: 32px;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .page-wrapper{
    margin-left: 100px;
    margin-right: 100px;
  }
  
}
